@import '../../../assets/scss/variables';


.scene-navigator {
    display: flex;
    position: relative;
    background: #1A1A1A;
    border-radius: 0.7em;
    margin-bottom: -1em;
    z-index: 999;
}