.scene-navigator {
    &-item {
        &-container {
            align-items: center;
        }
        &-arrow {
            width: 14px;
            height: 14px;
            border-left: 2px solid black;
            border-top: 2px solid black;
            transform: rotate(125deg) skewY(15deg);
        }
        &-name {
            font-weight: bold;
            font-size: 1.4em;
            margin: 0 1.5em;
        }
        &-button {
            border: 0;
            padding: 0.5em 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
}