.cmp {
  display: block;

  .wrapper {
    display: flex;
  }




  //All fields in line
  &.dMode-inline {
    .wrapper {
      flex-flow: row;

      & > div:nth-child(1) {width: 70%;}
      & > div:nth-child(2) {width: 30%;}
    }
  }



  //Each field in separate row
  &.dMode-rows {
    .wrapper {
       & > div:nth-child(1) {padding:0 0 0 3px;}
       & > div:nth-child(2) {max-width: 5em;}
    }
  }
}