@import './variables';

.cmp{
  .hotspotsFooter{
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: flex-end;

    :global {
      button{
        @extend %buttonWithGradient;
        font-size: 17px;
      }
    }
  }

}
