.home-page{
    &-subtitle {
        margin: 5em 0;
    }
    &-image-container {
        margin: 2em 0;
        width: 60em;
        & img {
            height: 100%;
            width: 100%;
        }
    }
    &-button-container {
        width: 20em;
        height: 4em;
    }
}