.product-list {
    &-title {
        font-size: 2em;
        font-weight: bold;
        margin: 1vh 0;
        text-align: center;
    }

    &-select {
        font-size: 1.5em;
    }

    &-side-bar {
        height: 100%;
    }
}
