.product-list {
    &-title {
        font-size: 1.2em;
        font-weight: bold;
        margin: 1vh 0;
        text-align: center;
    }

    &-select {
        font-size: 1em;
    }

    &-side-bar {
        height: 100%;
    }
}
