@import '../../../../assets/scss/_variables.scss';


.form{  
    margin-bottom: 4em;

    label{
        font-size: 14px;
        font-weight: 400;
    }

    input {
        height: 40px;
        border-radius: 0;
        color: white;
        background-color: #2E2E2E;
        box-shadow: none;
        border: none;
        text-align: center;
    }


        
    .selector {
        div[class*="-control"] {
            background: #2E2E2E!important;
            align-content: center;
        }

        div[class*="-menu"]:hover {
            background: #2E2E2E;
        }
        .list{
            display: flex;
            flex-direction: column;
            background: #2E2E2E;
            align-items: center;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    input[id='buttonURL']{
        margin-bottom: 100px;
    }
}