@import '../../../../assets/scss/_variables.scss';


.form{  

    label{
        font-size: 14px;
        font-weight: 400;
    }

    input {
        width: 85%;
        height: 40px;
        border-radius: 0;
        color: white;
        background-color: #2E2E2E;
        box-shadow: none;
        border: none;
        text-align: center;
    }

    input[type="range"] {
        -webkit-appearance: 'none';
        width: 310px;
        box-shadow: none;
        border: none;
        background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 17px;
        width: 17px;
        border: 2px solid #FFFFFF;
        background: linear-gradient(92.35deg, $blue-ink-color 1.28%, $green-bright-color 98.95%);
        box-shadow: 0 0 2px 0 #ffffff;
        cursor: pointer;
    }
    input[type=range]::-webkit-slider-runnable-track  {
        -webkit-appearance: none;
        height: 8px;
        box-shadow: none;
        border: none;
        background-image: linear-gradient(92.35deg, $blue-ink-color 1.28%, $green-bright-color 98.95%);
        background-size: 0%;
        background-repeat: no-repeat;
    }

    input[type="range"]::-moz-range-thumb {
        height: 17px;
        width: 17px;
        border: 2px solid #FFFFFF;
        background: linear-gradient(92.35deg, $blue-ink-color 1.28%, $green-bright-color 98.95%);
        box-shadow: 0 0 2px 0 #ffffff;
        cursor: pointer;
    }
    input[type=range]::-moz-range-track  {
        box-shadow: none;
        border: none;
        background-repeat: no-repeat;
    }
    input[type="range"]::-moz-range-progress {
        background-image: linear-gradient(92.35deg, $blue-ink-color 1.28%, $green-bright-color 98.95%);
        height: .5em;
    }

    input[type="range"]::-ms-thumb {
        height: 17px;
        width: 17px;
        border: 2px solid #FFFFFF;
        background: linear-gradient(92.35deg, $blue-ink-color 1.28%, $green-bright-color 98.95%);
        box-shadow: 0 0 2px 0 #ffffff;
        cursor: pointer;
    }
    input[type=range]::-ms-track  {
        box-shadow: none;
        border: none;
        background-image: linear-gradient(92.35deg, $blue-ink-color 1.28%, $green-bright-color 98.95%);
        background-size: 50%;
        background-repeat: no-repeat;
    }
        
    .selector {
        width: 100%;
        background-color: transparent;
        
        //input field or "control"
        div[class*="-control"] {
            height: 40px;
            width: 85%;
            border-radius: 0;
            border-style: none;
            background: #2E2E2E;
            align-content: center;
            
            //Label
            div[class*="-singleValue"] {
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 400;
            }

            span[class*="-indicatorSeparator"] {display: none;}
        }
        div[class*="-menu"] {
            width: 85%;
            background: #2E2E2E;
            font-weight: 400;
            font-size: 14px;
        }
        div[class*="-menu"]:hover {
            background: #2E2E2E;
        }
        .list{
            display: flex;
            flex-direction: column;
            background: #2E2E2E;
            align-items: center;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}