#user-icon {
    &-button {
        background: white;
        border: none;
    }
    &-image-container {
        width: 3em;
        height: 3em;
        border-radius: 100%;
        border: 1.5px solid $obsess-grey;
        overflow: hidden;
    }
    &-dropdown-container {
        margin-left: 0.5em;
        width: 1em;
    }
}