.submitButton {
    .spinner {
        &.active {
            display: inline-block;
        }

        &.hidden {
            animation: bubbledown 2s linear 0.5s 1 normal forwards;
            display: none;
        }
    }
}
