.product-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    place-self: center;
    text-align: center;
    border-bottom: 1px solid #D4D8DF;
    margin-top: 1em;
    padding: 1em 0;

    &-image {
        margin: auto;
        max-width: 90%;
        max-height: 10em;
        object-fit: scale-down;
    }

    &-delete {
        margin-top: 1em;
    }
}