@import '../../../../assets/scss/variables';

.cmp {
	flex-direction: column;

	label{ @extend %formInputLabel;	}
	input{ @extend %formInput;}

	div[class*='-container'] {
		border: none;
		font-size: $inputSize;

		div[class*='-control'] {
			min-height: 35px;
			box-shadow: none;
			border:0;

			div[class*='-ValueContainer'] {
				padding-top: 0;
				padding-bottom: 0;

				div[class*='-Input'] {
					@extend %formInput;
					margin:0;
					padding-top: 0;
					padding-bottom: 0;
				}

			}

			div[class*='-singleValue'] {
				@extend %formInput;
			}

			div[class*='-multiValue'] {

			}

			span[class*='-indicatorSeparator'] {
				display: none;
			}
		}
	}

	//DARK Styling Variant
	&.dark-variant {
		label{font-weight: 300;}

		div[class*='-container'] {
			background: $black-2;
			font-weight: 300;

			//input field or "control"
			div[class*='-control'] {
				background: $black-2;

				div[class*='-ValueContainer'] {

					div[class*='-Input'] {}
					div[class*='-placeholder'] {
						color: $grey-light-2;
					}
				}

				div[class*='-singleValue'] {
					color: #FFFFFF;
					font-weight: 300;
				}

				//Multi Value elements
				div[class*='-multiValue'] {
					background-color: #4e4e4e;
					border-radius: 2em;

					& > div:nth-child(1) {
						color: $grey-light-2;
					}

					& > div:nth-child(2) {
						&:hover {
							background: none;
							color: $grey-light-2;
						}
						svg {
							background: $red-light-1;
							border-radius: 8px;
						}
					}
				}


				div[class*='-indicatorContainer'] {
					color: $grey-light-2;
				}
			}


			//Menu
			div[class*='-menu'] {
				background: $black-2;
				border-radius: 0;

				div[class*='-option'] {
					background: #232323ff;
					&:hover {
						cursor: pointer;
						background: #4e4e4e;
					}
				}
			}
		}
	}
}
