@import '../../../assets/scss/variables';

.input {
    &-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 10px;
    }
    &-label {
        font-size: 2em;
        font-weight: 600;
        text-transform: capitalize;
        margin: 5px 0 0 0;
        color: $text-color;
    }
    &-field {
        background-color: transparent;
        width: 100%;
        padding: 0;
        border: 0px;
        font-size: 2em;
        margin: 5px 0;
        color: $text-color;
        &:focus {
            outline-width: 0;
        }
    }
}

.input-border-container {
    display: flex;
    align-items: center;
    border: 0.1em solid $border-color;
    border-radius: 0.5em;

    &--valid {
        &:focus-within {
            color: green;
            border: 1px solid green;
        }
    }

    &--invalid {
        &:focus-within {
            color: red;
            border: 1px solid red;
        }
    }
}

.error-list-container {
    margin: 5px 0 5px 20px;
    padding: 0;
}