.userHeaderMenu{
    padding: 0;
    flex-grow: 1;
    align-items: flex-end;

    #userMenu {
        .dropdown-icon{
            width:3.5em;
        }
    }

    .dropdown{
        .dropdown-menu{
            position:absolute;
        }

        .dropdown-toggle:after{
            color:#979797;
            border-top: 0.45em solid;
            border-right: .45em solid transparent;
            border-left: .45em solid transparent;
            vertical-align: 0;
        }
    }
}


.navbar-nav .dropdown-menu {
    position: absolute;
}

