.color {
    &-selector {
        &-preview{
            padding: 2em;
            border-radius: 5px;
            margin: 0 1em;
        }
    }
    &-picker-container {
        position: fixed;
        transform: translateX(78%);
    }
}