#modal {
    &-overlay {
        z-index: 1;
        border: none;
        &:focus {
            outline: none;
            border: none;
        }
    }
    &-position-wrapper {
        position: absolute;
        top: 0;
    }
    &-content-container {
        position: relative;
        background: white;
        border-radius: 5px;
        padding: 2em;
        border: 1px solid $obsess-grey;
        z-index: 2;
    }
    &-close-icon {
        cursor: pointer;
        top: -2.5em;
        right: -2.5em;
        height: 5em;
        width: 5em;
        position: absolute;
        background: black;
        border-radius: 100%;
        border: none;
        &:focus {
            outline: none;
            border: none;
        }
    }
}