#modal {
    &-overlay {
        z-index: 1;
        border: none;
        &:focus {
            outline: none;
            border: none;
        }
    }
    &-position-wrapper {
        position: absolute;
        top: 0;
    }
    &-content-container {
        background: white;
        height: 20em;
        width: 45em;
        border-radius: 5px;
        border: 1px solid $obsess-grey;
        z-index: 2;
    }
    &-close-icon {
        height: 5em;
        width: 5em;
        position: absolute;
        background: black;
        border-radius: 100%;
        transform: translate(42.5em, -2.5em);
        border: none;
        &:focus {
            outline: none;
            border: none;
        }
    }
}