@import '../../../../assets/scss/variables';

.product-list {

    .selector {
        font-size: 1em;
        background: #2E2E2E;
        border-radius: 4px;

        //input field or "control"
        div[class*="-control"] {
            background: $blue-grey-darken-3;
            border-color: $blue-grey-darken-3;
            border-radius: 4px;
            color:#fff;

            //Label
            div[class*="-singleValue"] {
                @extend %textWithGradient;
                color:#fff;
                font-weight: 600;
            }

            span[class*="-indicatorSeparator"] {display: none;}
        }
    }

    .list{
        $border: 2px solid $footer-color;

        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
