.sceneEditor{
  position: relative;
  margin: 0;
  width: 100%;

  .sceneNavigator{
    width:100%;

    //overwrite SceneNavigator default styles
    &.withSideBar{
      width:75%;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}


@media (max-width: 1100px){
    .sceneEditor{
      .sceneNavigator.withSideBar{
        width:70%;
      }
    }
}