.side-bar-container {
    $border: 2px solid $footer-color;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: $border;

    &-title {
        font-size: 2em;
        font-weight: bold;
        margin: 1vh 0;
        text-align: center;
    }
}

.right {
    $side-bar-height: calc(100vh - #{$header-height + $footer-height + 5});

    &-side-bar {
        width: 23em;
        height: $side-bar-height;
        display: grid;
        overflow-y: auto;
        &:hover {
            cursor: pointer;
        }
    }
}

.product, .scene {
    $border: 1px solid $footer-color;
    $selected-border: 8px solid $obsess-blue;

    &-item {
        width: 100%;
        height: 100%;
        place-self: center;
        text-align: center;

        &-border {
            &:nth-child(2n) {
                border-bottom: $border;
                border-right: $border;
            }
            &:nth-child(2n+1) {
                border-right: $border;
                border-bottom: $border;
            }
        }
        &-selected {
            border: $selected-border;
        }
        & img {
            max-width: 90%;
            max-height: 18em;
            object-fit: scale-down;
        }
        &-container {
            margin-top: 1em;
            height: auto;
        }
        &-name {
            font-size: 1.2em;
            letter-spacing: 0.1em;
            margin: 0.5em 0;
        }
    }
}

.content-url-remover {
    width: 100%;
    text-align: right;
    margin: 0.5em 0.5em 0.5em 0;
}