@import '../../assets/scss/variables';

.product, .scene {
    $border: 1px solid $footer-color;
    $selected-border: 8px solid $obsess-blue;

    &-item {
        width: 100%;
        height: 100%;
        place-self: center;
        text-align: center;

        &-border {
            &:nth-child(2n) {
                border-bottom: $border;
                border-right: $border;
            }
            &:nth-child(2n+1) {
                border-right: $border;
                border-bottom: $border;
            }
        }
        &-selected {
            border: $selected-border;
        }
        & img {
            max-width: 90%;
            max-height: 18em;
            object-fit: scale-down;
        }
        &-container {
            margin-top: 1em;
            height: auto;
        }
        &-name {
            font-size: 0.7em;
            letter-spacing: 0.1em;
            margin: 0.5em 0;
        }
    }
}

.content-url-remover {
    width: 100%;
    text-align: right;
    margin: 0.5em 0.5em 0.5em 0;
}