.select {
  min-width: 23em;
  margin-bottom: 1em;
}

h1{ margin-top: 0;}
.title { font-size: 18px;}


.error {
  font-size: 14px;
  padding: 4px 8px;
  background: red;
  color: white;
  border-radius: 5px;
}

.has-product-library {
  font-size: 0.8rem;
}
