@import '../../../assets/scss/variables';

.formWrapper {


    .typeSelector {
        .title {
            //padding-left: 1em;
            font-weight: 600;
            font-size: 18px;
        }

        ul {
            padding-left: 2em;

            li {
                margin: 0;
                height: 23px;
                font-weight: 300;
                font-size: 18px;
                cursor: pointer;
                list-style-type: none;
            }
        }
    }

}