@import '../../../assets/scss/variables';

.formWrapper{

    .title{
        font-weight: 600;
        font-size: 18px;
    }

    ul{
        padding-left: 1em;

        li{
            margin: 0;
            height: 23px;
            font-weight: 300;
            font-size: 18px;
            cursor: pointer;
            list-style-type: none;
        }
    }

}