// COCO CMS Frontend scss
// ******************************************************************************* //
// Import Modules here
// @import "example-context/example";
@import "library";
@import "header/header";
@import "body-wrapper/bodyWrapper";
@import "footer/footer";
// ******************************************************************************* //

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    touch-action: none;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    background: #fff;
    font-family: "";
    font-size: 10px; // Allows us to use EM in units of 10 e.g 1em = 10px
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}