@import '../../../../assets/scss/variables';

.cmp {
  position: relative;

  label {
    @extend %formInputLabel;
  }

  .inputWrapper {
    @extend %formInput;
    display: block;
    background-color: $black-2;
    border-color: $black-2;
    border-radius: 0;
    color: white;
    width: 100%;

    .fileUploader {
      @extend %formInput;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $black-2;
      border-color: $black-2;


      //Hidden input type='file'
      input[type='file'] {
        @extend %formInput;
        display: block;
        opacity: 0;
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 40px;
        cursor: pointer;
      }


      .uploadImg {
        height: 1.441em;
        width: 1.441em;
        margin-right: 0.5em;
      }
    }

    .filePreview {
      align-items: center;
      justify-content: space-between;

      .previewImage{
        height: 1.3em;
        width: 1.3em;
        display:flex;

        img{max-height: 100%;}
      }

    }
  }
}
