@import '../../assets/scss/variables';

.mode-selector {
    .radio-group {
        flex-wrap: wrap;
    }

    .radio {
        height: 3em;
        margin: 0 0.5em;
        font-size: 1em;

        label, span {
            font-size: 1em;
            margin-bottom: 0;
        }
    }

    .radio-custom-button-selector {
        width: 2em;
        height: 2em;
        top: 50%;
        right: 3em;
        transform: translateY(-50%);

        &::after {
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);  
        }
    }

    .modeTitle {
        flex-basis: 100%;
        text-align: center;
        font-size: 1.6em;
        margin-top: 0.5em;
        color: $obsess-grey;
    }
}