@import '../../../../assets/scss/variables';

.input-field {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;

	input {
		@extend %formInput;
		font-size: $inputSize;
		font-weight: normal;
	}
	label{
		@extend %formInputLabel;
		font-weight: normal;
	}

	//Light Style
	//&.light-variant {}


	//Dark Style
	&.dark-variant {
		label{font-weight: 300;}

		input {
			@extend %formInput-variant-dark;
			background-color: $black-2;
			border: none;
			border-radius: 0;
			font-weight: 300;
			height: 40px;

			&::placeholder {
				color: $grey-light-2;
			}
		}
	}

	.form-field-error {
		margin: 5px 0 5px 20px;
		padding: 0;

		.field-error {
			color: red;
			font-size: 11px;
			margin: 1px 0 0 5px;
		}

		.field-warn {
			color: #ff8400;
			font-size: 11px;
			width: 24em;
			margin: 1px 0 0 5px;
		}
	}
}
