.input-field{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;


  .inputField{}


  .form-field-error{
    margin: 5px 0 5px 20px;
    padding: 0;

    .field-error{
      color: red;
      font-size: 11px;
      margin: 1px 0 0 5px;
    }

    .field-warn{
      color: #ff8400;
      font-size: 11px;
      width: 24em;
      margin: 1px 0 0 5px;
    }
  }

}
