.cmp {
    max-width: 20em;
    padding: 1.5em 2em 2em 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    color: #fff;
    background-color: rgba(0,0,0,.6);

    div[role="textbox"] {
        border: 0.1em solid #fff;
    }



    .actions {
        margin-top: 1em;
        display: flex;
        align-items: center;

        :global {
            .btn {
                margin-right: 0.5em;
            }
        }

    }
}