@import '../../assets/scss/variables';

.nav-bar {
    border-right: 1px solid $obsess-grey;
    padding: 0 2.8em;
    
    &-container {
        letter-spacing: 0.8px;
        padding: 0;
        margin: 0;
        width: 28.5em;

        & ul {
            padding: 0;
            margin: 0 1.5em 0;
        }
    }
}
