@import '../../../assets/scss/variables';

.modeSelector {

    .radio-custom-button-selector {
        width: 2em;
        height: 2em;
        top: 50%;
        right: 3em;
        transform: translateY(-50%);

        &::after {
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);  
        }
    }

    .item{
        background-color: #1A1A1A;
        border-radius: 10px;
        padding: 0.9em 1em;


        &.checkedSelector{
            @extend %buttonWithGradient;
        }


        :global {
            //Make radios bigger
            input.form-check-input{
                height: 1.5em;
                width: 1.5em;
                //margin-right: 1em; new template rule: doesnt look/work good
            }


            //input.form-check-input:checked {}
        }
    }





    .modeTitle {
        flex-basis: 100%;
        text-align: center;
        font-size: 1.6em;
        margin-top: 0.5em;
        color: $obsess-grey;
    }
}

//SM - (min-width: 576px)
//MD - (min-width: 768)
//LG - (min-width: 992px)


//XS screen size
@media only screen and (max-width: 800px) {
    .modeSelector{
        .radio, label, span{font-size: 0.8em;}

        .item{
            margin-right: .4rem;
        }
    }
}

//SM screen size
@media only screen and (max-width: 1380px) {
    .modeSelector{
        .item{
            margin-right: .4rem;
            padding:0.5em;
        }

        :global {
            input.form-check-input{
                height: auto;
                width: auto;
            }
        }
    }
}
