// ******************************************************************************* //
// Import Modules here
// @import "example-context/example";
@import "obsess-logo/obsessLogo";
@import "user-icon/userIcon";
// ******************************************************************************* //
$header-height: 5.5vh;

.header {
    &-container {
        height: $header-height;
        border-style: solid;
        border-color: $footer-color;
        border-width: 0 0 0.2em 0;
        border-radius: 0 0 0.3em 0.3em;
    }
    &-left-side {
        margin: 0 auto 0 2.6em;
    }
    &-right-side {
        margin: 0 2em 0 auto;
    }
}