// COCO CMS Frontend scss
// ******************************************************************************* //
// Import Modules here
@import "library";
@import 'normalize';
@import "layouts/layouts";
@import "components/components";
@import "pages/pages";

// ******************************************************************************* //

body {
    min-height: 100%;
    touch-action: none;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    background: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 10px; // Allows us to use EM in units of 10 e.g 1em = 10px
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

button {
    background: none;
}

* {
    box-sizing: border-box;
}