// COCO CMS Frontend scss
// ******************************************************************************* //
// Import Modules here
@import "assets/scss/library";
@import 'assets/scss/normalize';
@import "layouts/layouts";
@import "pages/pages";

// ******************************************************************************* //

body {
    min-height: 100%;
    touch-action: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    //font-size: 10px; // Allows us to use EM in units of 10 e.g 1em = 10px
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

button {
    background: none;
}


//Old styles for auth forms
.authFormStyling{
    .input-field{
        border: 0.1em solid #505050;
        border-radius: 0.5em;
        padding: 5px 10px 0;

        input{
            width: 100%;
            margin: 5px 0;
            border: none;
            font-size: 1em;
            color: #505050;
        }
        input:focus{
            outline: none;
        }
        //label{
        .form-label{
            font-size: 1em;
            font-weight: 600;
            text-transform: capitalize;
            margin: 5px 0 0 0;
            color: #505050;
        }
    }
}



@media only screen and (max-width: 500px) {
    .hide-on-xs{ display:none; }
}




