.product-placement-sidebar {
    margin: 0 1em;
    
    .nav-tabs {
        font-size: 1rem;
    }
    
    .tab-content {
        padding: 1em;
        border: 1px solid;
        border-color: #fff #dee2e6 #dee2e6 #dee2e6;
    }
}