$footer-height: 8vh;

.footer {
    &-container {
        height: $footer-height;
        border-style: solid;
        border-color: $footer-color;
        border-width: 0.2em 0 0;
        border-radius: 0.3em 0.3em 0 0;
    }
    &-button-container {
        width: 10em;
        height: 4em;
        margin: 0 2em 0 auto;
    }
}