.footer {
    &-container {
        height: 8em;
        border-style: solid;
        border-color: $footer-color;
        border-width: 0.2em 0 0;
        border-radius: 0.3em 0.3em 0 0;
    }
    &-button-container {
        margin: 0 2em 0 auto;
    }
}