@import '../../assets/scss/_variables';
$footer-height: 8vh;

.footer {
    &-container {
        height: $footer-height;
        border-style: solid;
        border-color: $footer-color;
        border-width: 0.2em 0 0;
        border-radius: 0.3em 0.3em 0 0;
    }
    &-button-container {
        padding: 1em 0 0 0;
        margin: 0 2em 1.4em auto;
    }
}